# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/sbu/.vs
/sbu/CMakeFiles
/sbu/SbuCli/Debug
/sbu/SbuCli/sbu.dir
/sbu/x64
/sbu/SbuCli/CMakeFiles
/SBUWebApp/env
/SBUWebApp/__pycache__
/subWebApp/.idea
/SBUWebApp/.idea
/sbu/ZERO_CHECK.vcxproj.filters
/sbu/ZERO_CHECK.vcxproj
/sbu/SbuCli/sbu.vcxproj.user
/sbu/SbuCli/sbu.vcxproj.filters
/sbu/SbuCli/sbu.vcxproj
/sbu/SbuCli/cmake_install.cmake
/sbu/IMG_20190423_094119.jpg
/sbu/cmake_install.cmake
/sbu/CMakeCache.txt
/sbu/ALL_BUILD.vcxproj.filters
/sbu/ALL_BUILD.vcxproj
/sbuTests/__pycache__
/sbuTests/.vs/sbuTests/v15
