Smart Backup Utility
https://github.com/ShaiRoitman/sbu

Scope
This document describes the requirements of the Smart Backup Utility. 

Overview

Requirements


Commands
--------
--action CreateBackupDef --name <name> --path <path>
--action ListBackupDef 
--action Backup --name <name>
--action Restore --name <name> --date <LATEST|DateTime> --ShowOnly 
--action ListBackup --name <name>
