Smart Backup Utility
https://github.com/ShaiRoitman/sbu

Scope
This document describes the requirements of the Smart Backup Utility. 

Overview

Requirements


Commands
--------
--action CreateBackupDef --name <name> --path <path>
--action ListBackupDef 
--action Backup --name <name>
--action Restore --name <name> --date <LATEST|DateTime> --ShowOnly 
--action ListBackup --name <name>
--action BackupInfo --byID <bid>

--action Backup --bstep Init --name <name>
--action Backup --bstep Scan
--action Backup --bstep DiffCalc
--action Backup --bstep FileUpload
--action Backup --bstep Complete

--action Restore --rstep Init --name <name> --date <LATEST|DateTime> --ShowOnly 
--action Restore --rstep Scan
--action Restore --rstep DiffCalc
--action Restore --rstep FileDownload
--action Restore --rstep Complete