swagger: '2.0'
info:
  title: Smart Backup Utility
  description: HTTP Server for Smart Backup Utility
  version: 1.0.0
  contact:
    url: http://sbu.roitman.info
    email: Shai@Roitman.info
    name: Shai Roitman
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: sbu.roitman.info
basePath: /
schemes:
  - http
paths:
  /info:
    get:
      summary: Return the information of the system
      parameters:
        - in: body
          name: body
          description: Configuration
          required: false
          schema:
            $ref: '#/definitions/ConfigurationBody'
      consumes:
        - application/json
      produces: 
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ProgramInformation'
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/ErrorInformation'
  /help:
    get:
      summary: Returns help for this application
      parameters:
        - in: body
          name: body
          description: Configuration
          required: false
          schema:
            $ref: '#/definitions/ConfigurationBody'
      consumes:
        - application/json
      produces: 
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HelpInformation'
  /quit:
    get:
      summary: Closes the application
      parameters:
        - in: body
          name: body
          description: Configuration
          required: false
          schema:
            $ref: '#/definitions/ConfigurationBody'
      consumes:
        - application/json
      produces: 
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CloseInformation'
  /backupDef:
    get:
      summary: Retrieves currently defined backup definitions objects with optional filtering
      parameters: 
        - in: query
          name: host
          type: string
          description: substring of the hostname
          required: false
        - in: query
          name: path
          type: string
          description: substring of the path
          required: false
        - in: query
          name: name
          type: string
          description: substring of the name
          required: false
        - in: query
          name: regex
          type: boolean
          description: use substrings as regex patterns
          required: false
        - in: body
          name: body
          description: Configuration
          required: false
          schema:
            $ref: '#/definitions/ConfigurationBody'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BackupDefs'
    post:
      summary: Create a new backup def
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: BackupDef object that needs to be added
          required: true
          schema:
            $ref: '#/definitions/CreateBackupDef'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BackupDef'
        '400':
          description: Invalid input
  /backupDef/{id}:
    get:
      summary: Retrieve the backup definition
      parameters: 
        - in: path
          name: id
          type: string
          required: true
        - in: body
          name: body
          description: Configuration
          required: false
          schema:
            $ref: '#/definitions/ConfigurationBody'
      consumes:
        - application/json
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FullBackupDefInfo'
        '404':
          description: ID not found
  /backupDef/{id}/backup:
    post:
      summary: Create a new backup
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          type: string
          required: true
        - in: query
          name: step
          type: string
          enum: [Init,Scan,DiffCalc,FileUpload,Complete]
          default: Complete
          required: false
        - in: body
          name: body
          description: Configuration
          required: false
          schema:
            $ref: '#/definitions/ConfigurationBody'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Backup'
        '404':
          description: ID not found
        '500':
          description: General server failure
  /backupDef/{id}/backup/{bid}:
    get:
      summary: Retrieve backup information
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: id
          type: string
          required: true
        - in: path
          name: bid
          type: string
          required: true
        - in: body
          name: body
          description: Configuration
          required: false
          schema:
            $ref: '#/definitions/ConfigurationBody'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BackupInfo'
        '405':
          description: Invalid input
        '500':
          description: General server failure
  /backupDef/{id}/restore:
    post:
      summary: Restores backup
      parameters:
        - in: path
          name: id
          type: string
          required: true
        - in: query
          name: displayOnly
          type: boolean
          description: return only the files to be restored
          required: false
          default: false
        - in: body
          name: body
          description: Restore Backup
          required: true
          schema:
            $ref: '#/definitions/RestoreOptions'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Backup'
        '405':
          description: Invalid input
        '500':
          description: General server failure
definitions:
  ErrorInformation:
    type: object
    additionalProperties: true
  CloseInformation:
    type: object
    additionalProperties: true
  HelpInformation:
    type: object
    additionalProperties: true
  Configuration:
    type: array
    items:
      type: object
      additionalProperties: true
  ConfigurationBody:
    type: object
    properties:
      config:
        $ref: '#/definitions/Configuration'
  ProgramInformation:
    type: object
    properties:
      version:
        type: string
      hostname:
        type: string
      config:
        $ref: '#/definitions/Configuration'
  CreateBackupDef:
    type: object
    properties:
      name:
        type: string
      path:
        type: string
      config:
        $ref: '#/definitions/Configuration'
  BackupDef:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      path:
        type: string
        format: path
      added:
        type: string
        format: date-time
      hostName:
        type: string
  BackupDefs:
    type: object
    properties:
      backupdefs:
        type: array
        items: 
          $ref: '#/definitions/BackupDef'
  Backup:
    type: object
    properties:
      id:
        type: integer
        format: int64
      backupDefId:
        type: integer
        format: int64
      status:
          type: string
      started:
        type: string
        format: date-time
      lastStatusUpdate:
        type: string
        format: date-time
  FullBackupDefInfo:
    type: object
    properties:
      def:
        $ref: '#/definitions/BackupDef'
      backups:
        type: array
        items: 
          $ref: '#/definitions/Backup'
  BackupInfo:
    type: object
    properties:
      info:
        $ref: '#/definitions/FullBackupDefInfo'
      files:
        type: array
        items:
          $ref: '#/definitions/File'
  File:
    type: object
    properties:
      id:
        type: integer
        format: int64
      status:
        type: string
      type:
        type: string
      path:
        type: string
        format: path
      size:
        type: integer
        format: int64
      created:
        type: string
        format: date-time
      modified:
        type: string
        format: date-time
      accessed:
        type: string
        format: date-time
      digestType:
        type: string
      digestValue:
        type: string
      fileHandle:
        type: string
  RestoreOptions:
    type: object
    properties:
      id:
        type: integer
        format: int64
      date:
        type: string
        format: date-time
      config:
        $ref: '#/definitions/Configuration'
